@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --background-color: #131516;
    --text-color: #d0d0d0;
    --gray-color: #4f545c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 800px;
    margin: auto;
    padding: 15px;
    overflow-wrap: break-word;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.15em;
    margin-bottom: 95px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1, h2, h3 {
    color: white;
}

a {
    color: #f5ec42;
}

blockquote {
    margin: 0;
    padding-left: 1.2rem;
    border-left: 4px solid #4f545c;
}

input, textarea {
    padding:10px;
    border:0;
    margin: 10px 0;
    background-color: var(--background-color);
    box-shadow:0 0 8px 5px var(--gray-color);
    color: var(--text-color);
    outline: none;
}

form {
    text-align: center;
}

.big {
    padding: 0 15px;
    font-size: 1.2em;
}

.big:nth-child(1) {
    padding-left: 0;
}

@media screen and (max-width: 700px) {
    .big {
        padding: 0 5px;
    }
}

pre code.hljs {
display:block;
overflow-x:auto;
padding:1em
}

code.hljs {
padding:3px 5px
}

/*!
    Theme: GitHub Dark
    Description: Dark theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15

    Outdated base version: https://github.com/primer/github-syntax-dark
    Current colors taken from GitHub's CSS
*/

.hljs {
color:#c9d1d9;
background:#0d1117
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
color:#ff7b72
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
color:#d2a8ff
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
color:#79c0ff
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
color:#a5d6ff
}

.hljs-built_in,
.hljs-symbol {
color:#ffa657
}

.hljs-code,
.hljs-comment,
.hljs-formula {
color:#8b949e
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
color:#7ee787
}

.hljs-subst {
color:#c9d1d9
}

.hljs-section {
color:#1f6feb;
font-weight:700
}

.hljs-bullet {
color:#f2cc60
}

.hljs-emphasis {
color:#c9d1d9;
font-style:italic
}

.hljs-strong {
color:#c9d1d9;
font-weight:700
}

.hljs-addition {
color:#aff5b4;
background-color:#033a16
}

.hljs-deletion {
color:#ffdcd7;
background-color:#67060c
}

footer {
    position: fixed;
    height: 90px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #252626;
}

.footerInfo {
    font-size: .75rem;
}

button {
    background-color: var(--gray-color);
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    outline: none;
    transition: 0.2s;
}

button:hover {
    border-color: #d0d0d0;
}

button:focus {
    border-color: #4285f4;
}